body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #378ce6;
    margin: 0;
}

.game-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.feedback {
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"] {
    width: 70px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #057cfb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0358b2;
}
